<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modal">
        <header class="modal-header">
          <slot name="header">
            This is the default tile!
          </slot>
          <button type="button" class="btn-close" @click="closeModal">
            x
          </button>
        </header>
        <section class="modal-body">
          <slot name="body">
            I'm the default body!
          </slot>
        </section>
        <footer class="modal-footer">
          <slot name="footer">
            I'm the default footer!

            <button type="button" class="btn-green" @click="closeModal">
              Close me!
            </button>
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
  import {
    mapMutations,
    mapState,
    mapActions
  } from "vuex";
  
  import {
    UPDATE_TIMER
  } from "@/store/timer";
  
  
  import {
    STOP_BREAK_TIMER
  } from "@/store/timer";
  import {
    START_BREAK_TIMER
  } from "@/store/timer";
  import {
    timeToRest
  } from "@/store/timer";
  
  import {
    TAKE_BREAK
  } from "@/store/ui";
  
  export default {
    name: "Modal",
    data: function() {
      return {
        timeToRest: timeToRest
      }
    },
    computed: {
      ...mapState({
        restingTime: state => state.timer.restingTime,
        isOpenModal: state => state.ui.modal.isOpenModal
      })
    },
    methods: {
      ...mapMutations([UPDATE_TIMER, TAKE_BREAK, STOP_BREAK_TIMER]),
      ...mapActions([START_BREAK_TIMER]),
      timerStop() {
        this[TAKE_BREAK]();
        this[STOP_BREAK_TIMER]();
        this[UPDATE_TIMER]();
      }
    }
};
</script>

<style>
.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1rem;
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
}

.modal-header,
.modal-footer {
  display: flex;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: #4aae9b;
  justify-content: space-between;
  align-items: center;
}

.modal-header h1 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  align-items: center;
  justify-content: center;
}

.btn-close {
  margin: 0 0 1rem 3rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  color: #e92910;
  background: transparent;
}

.btn-green {
  color: white;
  background: #4aae9b;
  border: 1px solid #4aae9b;
  border-radius: 2px;
}
</style>
