<template>
  <div id="app">
    <router-view name="header" />
    <router-view />
    <modal v-show="modal.isOpenModal">
      <h1 slot="header">
        {{modal.header}}
      </h1>
      <template slot="body">
        {{modal.body}}
      </template>
      <template slot="footer">
        {{modal.footer}}
      </template>
    </modal>
    <toast position="ne"></toast>
  </div>
</template>

<script>
import Modal from "@/components/modal/Modal";
import { Toast } from "vuex-toast";
import { mapState } from "vuex";

export default {
  name: "app",
  components: {
    Modal,
    Toast
  },
  computed: {
    ...mapState({
      modal: state => state.ui.modal
    })
  }
};
</script>


<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

@media screen and (min-width: 1367px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
</style>
