<template>
  <md-content class="md-scrollbar">
    <navigation class="navigation md-elevation-6"/>
    <router-view class="route-view"/>
  </md-content>
</template>

<script>
  import Navigation from "@/components/header-menu/Navigation";
  import {
    mapActions
  } from "vuex";
  import {
    CLOSE_WS,
    OPEN_WS
  } from "@/store/event";
  
  export default {
    name: "Container",
    components: {
      Navigation
    },
    methods: {
      ...mapActions([CLOSE_WS, OPEN_WS])
    },
    mounted() {
      this[OPEN_WS]();
    },
    beforeDestroy() {
      this[CLOSE_WS]();
    },
  };
</script>

<style lang="scss" scoped>
 .md-layout.md-gutter.navigation.md-elevation-6 {
    margin: 0 0 10px 0;
  }
  .md-scrollbar {
    // height: 100%;
  }
  .navigation {
    height: auto;
    min-height: 60px;
  }
</style>
