<template>
    <div class="abonentInfo">
        <div class="region">
            region
        </div>
        <div class="name">
            name
        </div>
        <div class="address">
            address
        </div>
        <div class="operatorCell">
            operatorCell
        </div>
    </div>
</template>

<script>
export default {
  name: "AbonentInfo"
};
</script>
