<template>
    <div class="callerNumber">
        <p class="headline-text">Номер вызывающего абонента</p>
        <p class="info-text">{{callerNumber}}</p>
        <p class="headline-text">Вызов поступил: &nbsp;<span class="info-text">{{date}}</span></p>
        <p class="headline-text">Ожидание в очереди: <br /><span class="info-text">05 мин 15 с</span></p>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "CallerNumber",
  computed: {
    ...mapState({
      callerNumber: state => state.event.events.callerNumber,
      date: state => state.event.events.date
    })
  }
};
</script>

<style>
.callerNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.callerNumber > p {
  display: inline-flex;
  text-align: left;
  align-items: center;
  margin: 0.25rem 0;
}
</style>
