<template>
    <div class="callToNumber">
        <p class="headline-text">Номер в очередь</p>
        <p class="info-text">{{callToNumber}}</p>
    </div>
</template>

<script>
import {mapState} from 'vuex';

export default {
    name: 'CallToNumber',
    computed: {
        ...mapState({
            callToNumber: state => state.event.events.exten
        })
    }
}
</script>
