<template>
    <div class="operatorInfo">
        operatorInfo
        </div>
</template>

<script>
export default {
  name: "OperatorInfo",
  data() {
    return {
      noneImg: require("@/assets/nonePhoto.png"),
      files: [],
      photoMessage: false
    };
  },
  components: {
    FileUpload
  },
  computed: {
    ...mapState({
      workingTime: state => state.timeCounter.workingTime,
      operator: state => state.getOperatorInfo.operator
    })
  },
  methods: {
    inputFilter(newFile, oldFile, prevent) {
      console.log(newFile, oldFile, prevent)
      if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
        newFile.url = "";
        let URL = window.URL || window.webkitURL;
        if (URL && URL.createObjectURL) {
          newFile.url = URL.createObjectURL(newFile.file);
        }
      }
    },
    mouseOver() {
      this.photoMessage = !this.photoMessage;
    }
  }
};
</script>

<style lang="scss" scoped>
.upload-photo-key-message {
  position: absolute;
  bottom: 0;
}
</script>
