<template>
	<md-table>
		<md-table-row>
			<md-table-head>Состояние</md-table-head>
			<md-table-head>Очередь</md-table-head>
			<md-table-head>Вызовов в очереди</md-table-head>
			<md-table-head>Действие</md-table-head>
		</md-table-row>
		<md-table-row v-bind:class="[{in_queue: queue.isActive}, {out_queue: !queue.isActive}]" v-for="queue in queues" v-bind:key="queue.id">
			<md-table-cell>
				<md-icon class="add_queue_btn" v-show="queue.isActive" v-bind:md-src="callIn"></md-icon>
				<md-icon class="exit_queue_btn" v-show="!queue.isActive" v-bind:md-src="callOut"></md-icon>
			</md-table-cell>
			<md-table-cell>здесь длинное название очереди, а пока только ее номер: {{queue.queue}}</md-table-cell>
			<md-table-cell>{{queue.calls}}</md-table-cell>
			<md-table-cell>
				<button @click="ENTER_EXIT_QUEUE(queue)">
					<md-icon class="add_queue_btn" v-show="!queue.isActive && !queue.isConnecting" v-bind:md-src="loginIcon"></md-icon>
					<md-icon class="exit_queue_btn" v-show="queue.isActive && !queue.isConnecting" v-bind:md-src="logoutIcon"></md-icon>
				</button>
				<md-progress-spinner :class="[{add_queue_btn: queue.isActive}, {exit_queue_btn: !queue.isActive}]" md-mode="indeterminate" :md-diameter="30" :md-stroke="4" v-show="queue.isConnecting"></md-progress-spinner>
			</md-table-cell>
		</md-table-row>
	</md-table>
</template>

<script>
export default {
    name: 'Queues'
}
</script>
