<template>
    <div class="status">
        <p class="headline-text">Статус вызова</p>
        <p class="info-text">{{status}}</p>
    </div>
</template>

<script>
import {mapState} from 'vuex';

export default {
  name: "Status",
  computed: {
      ...mapState({
          status: state => state.event.events.status
      })
  }
};
</script>
