<template>
    <authorization />
</template>

<script>
import Authorization from "@/components/authorization/Authorization";
export default {
  components: {
    Authorization
  }
}
</script>

<style lang="scss">
#app {
height: 100vh;
}

.login {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  .login-form {
    display: flex;
    padding: 10px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vmax;
    max-width: 40vmax;
    height: 50vmin;
    div {
      display: flex;
      width: 100%;
      min-height: 2em;
      height: 20%;
      align-items: center;
      &:first-child {
        margin-top: 0;
      }
      .login-icons {
        display: block;
        height: 100%;
        max-height: 6vmin;
      }
      input {
        margin-top: 0;
      }
    }
    input {
      box-sizing: border-box;
      border: none;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 1em;
      line-height: 0.63em;
      min-height: 3em;
      width: 100%;
      max-height: 3vmin;
      padding: 0.5em;
      -webkit-appearance: none;
      &[type="submit"] {
        margin-top: 1.2em;
        height: 20%;
      }
    }
  }
}

.login-root {
  width: 100%;
  height: 100%;
  background: #b9b9b9c4;
}

@media screen and (min-width: 320px) and (max-width: 678px) {
  .login {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .login .login-form {
    min-width: 85vmin;
    max-height: 50vmax;
  }

  .login .login-form div {
    margin-top: 0.5em;
  }

  .login .login-form input {
    min-height: 2em;
  }
  .login .login-form input[type="submit"] {
    margin-top: 0.5em;
  }
}
</style>