<template>
  <call-history-view />
</template>

<script>
  import CallHistoryView from "@/components/callHistoryAdvanced/CallHistoryAdvanced";
  export default {
    components: {
      CallHistoryView
    }
  }
</script>

