<template>
  <nav class="header">
    <ul>
      <li>
        <router-link to="/" :style="{backgroundImage: `url(${img})`}" tag="a">
          <!-- <img src="../assets/logo.svg" alt="Logo"> -->
        </router-link>
      </li>
      <li @click="showQueueModal">Очереди</li>
      <li>Журнал</li>
      <router-link to="/phonebook" tag="li">Телефонная книга</router-link>
      <li @click="logout" class="logout">Logout</li>
    </ul>
  </nav>
</template>

<script>
import { mapActions } from "vuex";
import { LOGOUT } from "@/store/user";
import { CLOSE_WS } from "@/store/event";

export default {
  name: "Navigation",
  data() {
    return {
      img: require("../assets/logo.svg")
    };
  },
  methods: {
    ...mapActions(["showQueueModal", LOGOUT, CLOSE_WS]),
    logout() {
      this[LOGOUT]();
    }
  },
  beforeDestroy() {
    this[CLOSE_WS]();
  }
};
</script>

<style lang="scss" scoped>
.header {
  background: #3b668f;
  box-sizing: border-box;
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    max-height: 7vmin;
    height: 4rem;
    li {
      display: inline-flex;
      padding: 0.25rem 1rem;
      height: 100%;
      box-sizing: border-box;
      align-items: center;
      color: #f1f7fd;
      border-right: 1px solid #ffffff7a;
      box-shadow: inset 0px -1px 3px 0px #37536d;
      &:first-child {
        border: none;
      }
      &:hover {
        cursor: pointer;
        background: #eee;
        color: #0000ff;
      }
      a {
        display: block;
        max-height: 4rem;
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 10vmax;
        width: 10vmax;
        height: 4rem;
        max-height: 7vmin;
      }
    }
  }
  .logout {
    margin-left: auto;
  }
}
</style>
