<template>
  <div class="operator-view">
    <caller-number />
    <wait-time />
    <call-to-number />
    <call-history />
    <abonent-info />
    <yandex-map />
    <status />
    <operator-info />
    <queues />
  </div>
</template>

<script>
import CallerNumber from "@/components/operator/CallerNumber";
import CallToNumber from "@/components/operator/CallToNumber";
import WaitTime from "@/components/operator/WaitTime";
import CallHistory from "@/components/operator/CallHistory";
import AbonentInfo from "@/components/operator/AbonentInfo";
import YandexMap from "@/components/operator/YandexMap";
import Status from "@/components/operator/Status";
import OperatorInfo from "@/components/operator/OperatorInfo";
import Queues from "@/components/operator/Queues";
import { queue } from "@/constants/modal";
import { OPEN_WS } from "@/store/event";
import { mapState, mapActions } from "vuex";

export default {
  components: {
    CallerNumber,
    CallToNumber,
    WaitTime,
    CallHistory,
    AbonentInfo,
    YandexMap,
    Status,
    OperatorInfo,
    Queues
  },
  computed: {
    ...mapState({
      event: state => state.event,
      ws: state => state.event.websocket
    })
  },
  methods: {
    ...mapActions([OPEN_WS])
  },
  mounted() {
    this[OPEN_WS]();
    // this.ws.onmessage = msg => this.getMessage(JSON.parse(msg.data));
  },
  beforeDestroy() {
    // this.close();
  }
};
</script>


.caller-number {
  height: 18%;
  min-height: 150px;
  max-height: 200px;
}
.caller-number .md-badge {
  font-size: 1.2em;
}
.abonent-info {
  height: 22%;
  min-height: 200px;
}
.abonent-info .md-badge {
  font-size: 1.2em;
}
#map {
  height: calc(60% - 30px);
  min-height: 250px;
}

.call-to-number {
  height: 18%;
  min-height: 150px;
}

.call-history {
  height: calc(82% - 20px);
  overflow-y: auto;
}

.operator-view > div {
  background: #f7f7f7;
}

.callerNumber {
  grid-area: callerNumber;
}

.waitTime {
  grid-area: waitTime;
}

.callToNumber {
  grid-area: callToNumber;
}

.callHistory {
  grid-area: callHistory;
}

.abonentInfo {
  display: grid;
  grid-area: abonentInfo;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: "region" "name" "address" "operatorCell";
}

div.call-info.md-layout {
  height: 18%;
  min-height: 150px;
  margin: 0 0 10px 0;
  text-align: center;
}

.name {
  grid-area: name;
}

.address {
  grid-area: address;
}

.operatorCell {
  grid-area: operatorCell;
}

.status {
  grid-area: status;
}

.operatorInfo {
  grid-area: operatorInfo;
}

.queues {
  height: calc(60% - 30px);
  overflow-y: auto;
}

.md-table-row {
  display: flex;
  cursor: pointer;
}

.md-table-row th,
.queues .md-table-row.in_queue td,
.queues .md-table-row.out_queue td {
  text-align: center;
  display: flex;
}

.md-table-row .md-table-head-container {
  font-size: 1.4em;
}

.queues .md-table-row th .md-table-head-label,
.call-history .md-table-row th .md-table-head-label {
  padding: 0;
  white-space: normal;
  overflow: visible;
  line-height: 15px;
}

.md-table.md-theme-default
  .md-table-row:hover:not(.md-header-row)
  .md-table-cell {
  background-color: transparent !important;
}

.queues .md-table-row th:first-child,
.queues .md-table-row.in_queue td:first-child,
.queues .md-table-row.out_queue td:first-child {
  width: 15%;
  min-width: 90px;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.queues .md-table-row th:nth-child(2),
.queues .md-table-row.in_queue td:nth-child(2),
.queues .md-table-row.out_queue td:nth-child(2) {
  width: 55%;
  min-width: 300px;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.queues .md-table-row td:nth-child(2) div {
  text-align: left;
}

.queues .md-table-row th:nth-child(3),
.queues .md-table-row.in_queue td:nth-child(3),
.queues .md-table-row.out_queue td:nth-child(3) {
  width: 15%;
  min-width: 90px;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
}

.queues .md-table-row.in_queue td:nth-child(3),
.queues .md-table-row.out_queue td:nth-child(3) {
  font-size: 20px;
}

.queues .md-table-row th:last-child,
.queues .md-table-row.in_queue td:last-child,
.queues .md-table-row.out_queue td:last-child {
  width: 15%;
  min-width: 90px;
  position: relative;
}

.queues .md-progress-spinner {
  position: absolute;
  top: 18%;
  left: 35%;
}

.queues .md-table-cell:last-child .md-table-cell-container {
  padding: 0;
}

.queues button {
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
</style>
