<template>
  <transition name="modal-fade">
    <div class="phonebook" v-drag v-show="isOpenPhoneBook">
      <md-table>
        <md-table-toolbar>
          <div class="phonebook-title">Телефонная книга</div>
          <div><button class="phonebook-close-btn" @click="SHOW_PHONE_BOOK">
                    <md-icon>close</md-icon>
                  </button></div>
        </md-table-toolbar>
        <md-table-row>
          <md-table-head>Порядковый номер</md-table-head>
          <md-table-head>Имя</md-table-head>
          <md-table-head>Номер</md-table-head>
          <md-table-head>Действие</md-table-head>
        </md-table-row>
        <md-table-row v-for="item in abonents" v-bind:key="item.id">
          <md-table-cell>{{ item.id }}</md-table-cell>
          <md-table-cell>{{ item.name }}</md-table-cell>
          <md-table-cell>{{ item.number }}</md-table-cell>
          <md-table-cell>
            <button @click="CALL_TO(item.number)">
                    <md-icon v-bind:md-src="callto">></md-icon>
                  </button>
          </md-table-cell>
        </md-table-row>
      </md-table>
    </div>
  
  </transition>
</template>

<script>
  import {
    mapMutations,
    mapActions,
    mapState
  } from "vuex";
  import {
    SHOW_PHONE_BOOK
  } from "@/store/ui";
  import {
    CALL_TO
  } from "@/store/calling";
  
  import drag from '@branu-jp/v-drag';
  
  export default {
    name: 'Phonebook',
    directives: {
      drag
    },
  
    data: () => ({
      callto: require("@/assets/icons/callingTo.svg")
    }),
    methods: {
      action: () => {
        alert("I'm the action!")
      },
      ...mapMutations([
        SHOW_PHONE_BOOK
      ]),
      ...mapActions([
        CALL_TO
      ])
    },
    computed: {
      ...mapState({
        isOpenPhoneBook: state => state.ui.phoneBookState.isOpenPhoneBook,
        abonents: state => state.getPhonebook.abonents
      })
    }
  }
</script>


<style>
  .phonebook {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 700px;
    height: auto;
    z-index: 9;
    top: 0;
    left: 0;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px 0px #101010;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
  }
  
  div.phonebook div.md-toolbar.md-table-toolbar {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
  }
  
  div.phonebook div.md-toolbar.md-table-toolbar:active {
    /* cursor: url(../client/src/assets/icons/grab.svg),  */
    cursor: grabbing;
  }
  
  .phonebook .md-table-row {
    display: flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: grab;
  }
  
  .phonebook .md-table-row:active {
    /* cursor: url("@/assets/icons/grab.svg"); */
    cursor: grabbing;
  }
  
  .phonebook .md-table-row td {
    text-align: center;
    display: flex;
  }
  
  .md-table-row .md-table-head-container {
    font-size: 15px;
    margin: auto;
  }
  
  .md-table-row .md-table-cell-container {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  
  .phonebook .md-table-row th .md-table-head-label {
    padding: 0;
    white-space: normal;
    overflow: visible;
    line-height: 15px;
  }
  
  .phonebook .md-table.md-theme-default .md-table-row:hover:not(.md-header-row) .md-table-cell {
    background-color: transparent;
  }
  
  .phonebook .md-table-row th:first-child,
  .phonebook .md-table-row td:first-child {
    width: 20%;
    min-width: 90px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }
  
  .phonebook .md-table-row th:nth-child(2),
  .phonebook .md-table-row td:nth-child(2) {
    width: 40%;
    min-width: 300px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .phonebook .md-table-row th:nth-child(3),
  .phonebook .md-table-row td:nth-child(3) {
    width: 25%;
    min-width: 90px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }
  
  .phonebook .md-table-row th:last-child,
  .phonebook .md-table-row td:last-child {
    width: 15%;
    min-width: 90px;
  }
  
  .phonebook .md-table-cell:last-child .md-table-cell-container {
    padding: 0;
  }
  
  .phonebook button {
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }
</style>