<template>
<div>
<transition name="fade-calling-bar">
  <div class="calling-bar" v-show="true">
    <button @click="PICK_UP" v-show="callState === CONNECT_EXTEN">
      <md-icon v-bind:md-src="phone"></md-icon>
    </button>
    <button @click="HANG" v-show="callState === DIAL_EXTEN">
      <md-icon v-bind:md-src="hangUp"></md-icon>
    </button>
  </div>
  </transition>
  <!-- <button @click="HANG" style="top: 0; position: absolute; left: 0; right: 0">паложьтрубкэ</button> -->
  </div>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import { PICK_UP } from "@/store/calling";
import { HANG } from "@/store/calling";
import { CONNECT_EXTEN, DIAL_EXTEN } from "@/constants/callTypes";

export default {
  name: "CallingBar",
  data: function() {
    return {
      phone: require("@/assets/icons/phone.svg"),
      hangUp: require("@/assets/icons/hang-up.svg"),
      CONNECT_EXTEN,
      DIAL_EXTEN
    };
  },
  computed: {
    ...mapState({
      isCalling: state => state.ui.callingBar.isCalling,
      callState: state => state.ui.callingBar.callState
    })
  },
  methods: {
    ...mapActions([PICK_UP, HANG])
  }
};
</script>

<style>
.calling-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 5%;
  z-index: 9;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.calling-bar button {
  background-color: transparent;
  border: none;
}

.calling-bar .md-icon {
  cursor: pointer;
  width: 50px;
}

.fade-calling-bar-enter,
.fade-calling-bar-leave-to {
  transform: translateY(-10px);
}

.fade-calling-bar-enter-active {
  transition: all 0.5s ease;
}

.fade-calling-bar-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
</style>