<template>
  <div class="md-layout md-gutter">
    <div class="md-layout-item md-size-33 md-medium-size-50 md-small-size-100 phonebook-btn">
      <div class="md-layout">
        <div class="md-small-size-50">
          <img v-bind:src="img">
        </div>
        <div class="md-small-size-50">
          <md-button
            @click="SHOW_PHONE_BOOK"
            class="md-raised md-primary"
            :md-ripple="false"
          >Телефонная книга</md-button>
        </div>
      </div>
    </div>
    <div class="md-layout-item md-size-33 md-medium-size-50 md-small-size-100">
      <md-tabs class="md-transparent" md-alignment="fixed">
        <md-tab md-label="Operator" to="/operator"></md-tab>
        <md-tab md-label="Call History" to="/call-history"></md-tab>
      </md-tabs>
    </div>
    <div class="md-layout-item md-size-33 md-medium-size-50 md-small-size-100 logout-btn">
      <div class="md-layout md-alignment-center-right">
        <div class="md-size-50">
          <md-button class="md-raised md-primary" @click="takeBreak">Перерыв</md-button>
        </div>
        <div class="md-size-50">
          <md-button @click="LOGOUT" class="md-raised md-accent">Выход</md-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations } from "vuex";
import { LOGOUT } from "@/store/user";
import { SHOW_PHONE_BOOK, TAKE_BREAK } from "@/store/ui";
import { START_BREAK_TIMER } from "@/store/timer";

export default {
  name: "Navigation",
  data: function() {
    return {
      img: require("@/assets/logo.svg")
    };
  },
  methods: {
    ...mapMutations([SHOW_PHONE_BOOK, TAKE_BREAK]),
    ...mapActions([LOGOUT, START_BREAK_TIMER]),
    takeBreak() {
      this[TAKE_BREAK]();
      this[START_BREAK_TIMER]();
    }
  }
};
</script>
