<template>
  <div class="login-root">
    <div class="login">
      <form id="formLogin" class="login-form" @submit.prevent="login">
        <div>
          <img class="login-icons" src="@/assets/icons/login.svg">
          <input required v-model="username" placeholder="login" type="text" id="text" autocomplete="on">
        </div>
        <div>
          <img class="login-icons" src="@/assets/icons/password.svg">
          <input required v-model="password" type="password" name="pass" placeholder="password" autocomplete="on" id="password">
        </div>
        <input type="submit" value="Войти">
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { AUTH_REQ } from "../../store/user";
export default {
  name: "authorization",
  data() {
    return {
      username: "",
      password: "",
      errorMsg: ""
    };
  },
  methods: {
    ...mapActions([AUTH_REQ]),
    login() {
      let payload = {
        login: this.username,
        password: this.password
      };
      this[AUTH_REQ](payload);
    }

  }
};
</script>