<template>
  <div class="call-history-adv">
    <audio controls :src="audio" ref="audioPlayer" disabled></audio>
    <div class="search-controls md-layout">
      <md-datepicker v-model="searchDateFrom" class="md-layout-item md-size-15">
        <label>Начало периода</label>
      </md-datepicker>
      <vue-timepicker v-model="searchTimeFrom" format="HH:mm" class="md-layout-item md-size-15"></vue-timepicker>
      <md-datepicker v-model="searchDateTo" class="md-layout-item md-size-15">
        <label>Конец периода</label>
      </md-datepicker>
      <!-- <datepicker
        v-model="searchDateFrom"
        placeholder="Начало периода"
        :open-date="date"
        :language="ru"
        class="md-layout-item md-size-15 search-element"
      ></datepicker>-->
      <!-- <datepicker
        v-model="searchDateTo"
        placeholder="Конец периода"
        :open-date="date"
        :language="ru"
        class="md-layout-item md-size-15"
      ></datepicker>-->
      <vue-timepicker v-model="searchTimeTo" format="HH:mm" class="md-layout-item md-size-15"></vue-timepicker>
      <md-button @click="getPeriod" class="md-layout-item md-size-15">Search</md-button>
      <vue-toast ref="toast"></vue-toast>
      <!-- <md-button @click="downloading">Download</md-button> -->
    </div>
    <div class="md-elevation-6 search-result">
      <md-table v-model="calls" md-sort="duration" md-sort-order="asc" md-card md-fixed-header>
        <md-table-row slot="md-table-row" slot-scope="{ item }">
          <md-table-cell
            md-label="Дата поступления вызова"
            md-sort-by="date"
          >{{ new Date(item.date).toLocaleString("ru") }}</md-table-cell>
          <md-table-cell md-label="Продолжительность разговора, мин">{{ item.duration }}</md-table-cell>
          <md-table-cell md-label="Время ожидания, мин">{{ item.waiting }}</md-table-cell>
          <md-table-cell md-label="Состояние">{{ item.status }}</md-table-cell>
          <md-table-cell md-label="Действие">
            <md-button @click="playCall(item)" disabled>Play</md-button>
            <md-button @click="downloading" disabled>Download</md-button>
          </md-table-cell>
        </md-table-row>
      </md-table>
    </div>
  </div>
</template>


<script>
import { mapActions, mapState } from "vuex";
import { MISSED_CALL, COMPLETE_CALL } from "@/constants/callTypes";
import Navigation from "@/components/header-menu/Navigation";

import { CALL_HISTORY_SEARCH_REQ } from "@/store/callHistSearch";
import Datepicker from "vuejs-datepicker";
import VueTimepicker from "vue2-timepicker";
import VueToast from "vue-toast";

import { ru } from "vuejs-datepicker/dist/locale";

export default {
  duration: "CallHistoryView",
  data: () => ({
    searchDateFrom: null,
    searchDateTo: null,
    searchTimeFrom: {
      HH: 0,
      mm: 0
    },
    searchTimeTo: {
      HH: 0,
      mm: 0
    },
    date: new Date(),
    ru: ru,
    audio: null,
    downloadUrl: "http://zaycev.net/pages/84709/8470986.shtml"
  }),
  components: {
    Datepicker,
    VueTimepicker,
    Navigation,
    VueToast
  },
  computed: {
    ...mapState({
      calls: state => state.callHistSearch.calls
    })
  },
  methods: {
    ...mapActions([CALL_HISTORY_SEARCH_REQ]),
    getPeriod() {
      if (!(this.searchDateFrom && this.searchDateTo)) {
        this.$refs.toast.showToast(
          `Введите дату ${
            this.searchDateFrom ? "конца периода" : "начала периода"
          }`,
          {
            timeLife: 3000,
            theme: "error",
            position: "top right"
          }
        );
        return;
      } else if (this.searchDateFrom > this.searchDateTo) {
        this.$refs.toast.showToast(
          "Дата начала периода не может превышать конец периода",
          {
            timeLife: 3000,
            theme: "error",
            position: "top right"
          }
        );
        return;
      }
      const dateFrom = new Date(this.searchDateFrom).setHours(
        this.searchTimeFrom.HH,
        this.searchTimeFrom.mm
      );
      const dateTo = new Date(this.searchDateTo).setHours(
        this.searchTimeTo.HH,
        this.searchTimeTo.mm
      );
      this[CALL_HISTORY_SEARCH_REQ]({
        dateFrom,
        dateTo
      });
    },
    playCall: function(item) {
      this.$refs.audioPlayer.src = item.track;
      this.$refs.audioPlayer.play();
    },
    downloading: function(downloadUrl) {
      // browser.downloads.download({
      //     url: downloadUrl,
      //     filename: 'call.mp3',
      //     conflictAction: 'uniquify'
      //   })
    },
    getStatus: key => {
      switch (key) {
        case COMPLETE_CALL:
          return "Принят";
        case MISSED_CALL:
          return "Пропущен";
        case "":
          return "";
        case "":
          return "";
        default:
          return "Unknown status";
      }
    }
  }
};
</script>


<style lang="scss" scoped>
.call-history-adv {
  height: calc(100% - 120px);
}
.search-controls {
  height: 70px;
  position: relative;
}
.search-result {
  height: calc(100% - 70px);

}
.search-result .md-table {
  height: 100%;
}
button {
  margin: 0;
}
audio {
  height: 50px !important;
}
.search-controls .vue-toast-manager_container {
  position: absolute;
}
input {
  margin: auto;
  font-size: 1.2em;
  margin: auto;
  font-family: Roboto;
  width: 200px;
}
.md-layout-item.search-element {
  display: flex;
}
.md-layout-item > div {
  display: flex;
  margin: auto;
}
.call-history-adv tr {
  display: flex;
  justify-content: space-around;
}

.call-history-adv tr td {
  border: none;
}

.call-history-adv .md-table-row {
  cursor: auto;
}

.call-history-adv
  .md-table.md-theme-default
  .md-table-row:hover:not(.md-header-row)
  .md-table-cell {
  background-color: transparent;
}

.call-history-adv audio {
  width: 100%;
}
.call-history-adv .time-picker.md-layout-item.md-size-15 {
display: flex;
align-items: center;
}

</style>