<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="./fonts/Open_Sans/open-sans.css">
    <link rel="stylesheet" href="./fonts/Roboto/Roboto.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=3586c7b3-b30b-44f1-82c0-0dc5e71be3de&lang=ru_RU" type="text/javascript"></script>
    <title>TelefoNN-Client</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but client doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
